<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}askreduce{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'shufflesort/style.css' %}" />
  </head>
  <body>

    <header>
      {% if 'user' in request.session %}
      <form action="{% url 'shufflesort:identity' %}" method="post">
        {% csrf_token %}
        <label for="deidentify">You are {{ request.session.user }}.</label>
        <input type="hidden" name="deidentify" />
        <input type="submit" value="deidentify" />
      </form>
      {% endif %}
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
