{% extends "shufflesort/base.html" %}

{% block body %}

<section>

  <table>
    <tr>
      <td>
      </td>
      {% for question_id in question_ids %}
      <td>
        <a href="{% url 'shufflesort:question' question_id %}">
          {{ question_id }}
        </a>
      </td>
      {% endfor %}
    </tr>
    {% for user_name, answers in users_tups %}
    <tr>
      <td>
        <a href="{% url 'shufflesort:user' user_name %}">
          {{ user_name }}
        </a>
      </td>
      {% for answer in answers %}
      <td>
        {% if answer %}
        <a href="{% url 'shufflesort:user' user_name %}"
           title="{{ answer }}">
          ⬛
        </a>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  
</section>

{% endblock %}
