{% extends "shufflesort/base.html" %}

{% block content %}

{% if 'user' in request.session %}
<p>
  You are {{ request.session.user }}.
</p>
<form action="{% url 'shufflesort:identity' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="deidentify" />
  <input type="submit" value="deidentify" />
</form>
{% else %}
<form action="{% url 'shufflesort:identity' %}" method="post">
  {% csrf_token %}
  <input type="text" name="user" />
  <input type="submit" value="identify" />
</form>
{% endif %}

{% endblock %}
