{% extends "shufflesort/page.html" %}

{% load markdown_filter %}

{% block content %}

<nav>
  <span class="previous">
    {% if previous %}
    <a href="{% url 'shufflesort:question' previous %}">
      Previous
    </a>
    {% endif %}
  </span>
  <span class="subsequent">
    {% if subsequent %}
    <a href="{% url 'shufflesort:question' subsequent %}">
      Next
    </a>
    {% endif %}
  </span>
</nav>

{{ question.text|markdown_filter|safe }}

<form action="{% url 'shufflesort:question' question.id %}" method="post">
  {% csrf_token %}
  <textarea name="text" cols="78" rows="12"></textarea><br />
  <input type="submit" value="submit" />
</form>

{% if answered %}
<ul>
  {% for answer in answers  %}
  <li>{{ answer.user }}:
    <pre class="answer">{{ answer.text }}</pre>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
